openapi: 3.0.0
info:
  title: first-bot-apigw
  version: 1.0.0
paths:
  /webhook:
    post:
      x-yc-apigateway-integration:
        type: cloud-functions
        function_id: ${function_id}
        service_account_id: ${service_account_id}
      operationId: ${function_name} 
